<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/userMovieDetail.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/adminAccountManage.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>



</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">

            <li role="presentation"><a href="/admin/movie/manage" style="color: #9d9d9d"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage" style="color: #9d9d9d"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage" style="color: #9d9d9d"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage" style="color: #9d9d9d"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/member/manage" style="color: #9d9d9d"><i class="icon-credit-card"></i> 会员管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic" style="color: #9d9d9d"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-user-md"></i> 用户管理</a></li>

        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">用户管理</span>
            <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#userModal"><i class="icon-plus-sign"></i> 新增用户</button>
        </div>
        <div class="seesion-container">
            <div id="user-list" style="display: none;">
                <ul class="nav nav-tabs" id="user-role">
                </ul>

                <div class="table-wrapper">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>消费金额</th>
                            <th>会员卡余额</th>
                            <th>查看详情</th>
                        </tr>
                        </thead>

                        <tbody id="user-list-body">
                        </tbody>
                    </table>
                    <h4 id="user-none-hint" style="display: none;">没有这种类型的用户</h4>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userModalLabel">新增用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-name-input"><span class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user-name-input" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-password-input"><span class="error-text">*</span>密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="user-password-input" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="level-select"><span class="error-text">*</span>权限</label>
                        <div class="col-sm-10" id="level-select">
                            <input type="radio" class="form-control" id="level-admin" name="level" value="0" />
                            <label  for="level-admin"> 管理员</label>
                            <input type="radio" class="form-control" id="level-staff" name="level" value="2" />
                            <label  for="level-staff"> 员工</label>
                            <input type="radio" class="form-control" id="level-customer" name="level" value="1" />
                            <label  for="level-customer"> 顾客</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="user-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
