<!DOCTYPE html>
<html>
<head>
    <title>Welcome to RandomTheatre</title>
    <link rel="icon" type="image/png" href="../images/icon.png"/>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
<!--    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>-->
    <!-- font-asesome图标库 -->
<!--    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>-->

    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
<!--    <script src="/js/bootstrap.js"></script>-->
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/vectorForIndex.js"></script>


</head>

<body>
<div id="main-container">
    <!--	<div id="output">-->
    <div class="card" id="login-container">
        <div class="containerT">
            <h1 class="title" style="font-size: x-large">登  录</h1>
            <!--			<form class="form" id="entry_form">-->
            <!--				<input type="text" placeholder="用户名" id="entry_name" value="admin">-->
            <!--				<input type="password" placeholder="密码" id="entry_password">-->
            <!--				<button type="button" id="entry_btn">登录</button>-->
            <!--				<div id="prompt" class="prompt"></div>-->
            <!--			</form>-->
            <form id="login-form">
                <div class="input-interval">
                    <div class="input-group" id="basic-addon1">
                        <!--						<span class="input-group-addon"><i class="icon-user"></i></span>-->
                        <input id="index-name" type="text" class="form-control" placeholder="请输入用户名" aria-describedby="basic-addon1" style="color: #464547">
                    </div>
                    <p id="index-name-error" class="notice">用户名不能为空</p>
                </div>

                <div class="input-interval">
                    <div class="input-group" id="basic-addon2">
                        <!--						<span class="input-group-addon"><i class="icon-lock"></i></span>-->
                        <input id="index-password" type="password" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon2" style="color: #464547">
                    </div>
                    <p id="index-password-error" class="notice">密码不能为空</p>
                </div>

<!--                <div class="form-group">-->
<!--                    <p>还未注册过? <a href="/signUp">&nbsp;立即注册</a>-->
<!--                </div>-->

                <button id="login-btn" type="button" class="btn btn-primary input-interval btn-block" style="font-size: large; color: #f2eada">登 录</button>
                <button id="signup-btn" type="button" class="btn btn-primary input-interval btn-block"><a href="/signUp" style="text-decoration: none; color: #f2eada; font-size: large">注 册</a></button>
                <div id="prompt" class="prompt"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        Victor("main-container", "login-container");   //登录背景函数
        $("#entry_name").focus();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
    });
</script>


<div style="text-align:center;"></div>
<script type="text/javascript" src="/js/MouseEffect.js"></script>
</body>

</html>