<!doctype html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Random Theatre - 首页</title>
    <meta name="description" content="THOMSOON with no sidebar - Portfolio with grid HTML5 and CSS3 modern simplicity style template. Check my portfolio. Download free now with file Photoshop! ">
    <meta name="keywords" content="clean, simplicity, theme, html5, sidebar, masonry">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="thomsoon.com">
    <link rel="icon" type="image/png" href="../images/icon.png"/>

    <!--Style-->

    <link rel="stylesheet" href="/css/newCommon.css">
    <link rel="stylesheet" href="/css/cssForIndex/reset.css">
    <link rel="stylesheet" href="/css/cssForIndex/style.css">
    <link rel="stylesheet" href="/css/cssForIndex/style-responsive.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>

</head>

<body>

<!--Preloader-->

<div class="preloader" id="preloader">
    <div class="item">
        <div class="spinner">
        </div>
    </div>
</div>

<div class="opacity-nav">

    <ul class="menu-fullscreen">
        <li><a href="/user/home">回到首页</a></li>
        <li><a href="/user/movie">电影列表</a></li>
        <li><a href="/user/buy">我的电影票</a></li>
        <li><a href="/user/consumption">消费记录</a></li>
        <li><a href="/user/member">我的卡包</a></li>
        <li id="logout"><a href="#">登出</a></li>
    </ul>

</div>


<!--Header-->
<header id="fullscreen">

    <div class="logo" id="full"><a class="ajax-link" href="/user/home">Random Theatre</a></div>

    <div class="menu-index" id="button">
        <i class="fa fa-bars"></i>
    </div>

</header>

<div class="clear"></div>

<!--Content-->

<div class="content" id="ajax-content">


    <div class="text-intro" id="site-type">

        <h1>院线新片，触手可得</h1>
        <h1 class="typewrite"><span>Welcome. </span></h1>
        <p>尽情浏览，选择一部，切身体验。</p>

    </div>


    <!--Portfolio grid-->
    <div>
        <ul id="poster-show-list" style="display: flex;flex-wrap: wrap;justify-content: center">
        </ul>
    </div>


</div>

<!--<div id="ajax-sidebar">-->

<!--    <div class="home-sidebar" style="background-image: url(/static/images/home-sidebar.jpg);" id="hero">-->

<!--        <div class="parallax-option" data-jkit="[parallax:strength=0.8;axis=both]">-->

<!--            <div class="parallax parallax1"><img src="/static/images/business-card-2.png"></div>-->

<!--        </div>-->

<!--        <div class="parallax-option" data-jkit="[parallax:strength=0.3;axis=both]">-->

<!--            <div class="parallax parallax1"><img src="/static/images/business-card.png"></div>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<!--Footer-->

<footer>

    <div class="footer-margin">
<!--        <div class="social-footer">-->
<!--                        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                        <a href="#"><i class="fa fa-behance"></i></a>-->

<!--        </div>-->
        <div class="copyright">© Copyright 2019 Random Theatre. All Rights Reserved.</div>
    </div>


</footer>



<!--Scripts-->

<script src="/js/jsForIndex/jquery.min.js"></script>
<script src="/js/jsForIndex/jquery.easing.min.js"></script>
<script src="/js/jsForIndex/modernizr.custom.42534.js" type="text/javascript"></script>
<script src="/js/jsForIndex/jquery.waitforimages.js" type="text/javascript"></script>
<script src="/js/jsForIndex/typed.js" type="text/javascript"></script>
<script src="/js/jsForIndex/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="/js/jsForIndex/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="/js/jsForIndex/jquery.jkit.1.2.16.min.js"></script>

<script src="/js/jsForIndex/script.js" type="text/javascript"></script>

<script>
    $('#button').on('click', function() {
        $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
        // Animation complete.
    });
</script>


</body>
</html>