<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.sales.ConsumptionMapper">
    <insert id="insertConsumption" parameterType="com.example.cinema.po.ConsumptionItem"
            useGeneratedKeys="true" keyProperty="id">
        insert into consumption(user_id,total,discount_amount,pay_method,coupon_id)
        values(#{userId}, #{total},#{discountAmount},#{payMethod},#{couponId})
    </insert>
    <insert id="insertConsumptionAndTicket">
        insert into consumption_ticket(consumption_id,ticket_id) values
        <foreach collection="ticketId" item="item" index="index"
                 separator=",">
            (#{consumptionId},#{item})
        </foreach>
    </insert>

    <select id="selectConsumptionById" resultMap="Consumption">
        select
        *
        from
        consumption c
        left join
        consumption_ticket ct
        on
        c.id=ct.consumption_id
        WHERE c.id=#{id}
    </select>

    <select id="selectConsumptionByUserId" resultMap="Consumption">
        select
        *
        from
        consumption c
        left join
        consumption_ticket ct
        on
        c.id=ct.consumption_id

        where c.user_id=#{userId}

    </select>

    <resultMap id="Consumption" type="com.example.cinema.po.ConsumptionItem">
        <result column="user_id" property="userId"></result>
        <result column="id" property="id"></result>
        <result column="coupon_id" property="couponId"></result>
        <result column="pay_method" property="payMethod"></result>
        <result column="total" property="total"></result>
        <result column="discount_amount" property="discountAmount"></result>
        <result column="time" property="time"></result>
        <collection property="ticketId" ofType="int">
            <result column="ticket_id"/>
        </collection>
    </resultMap>

</mapper>